* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body, html {
  background-color: rgb(218, 233, 211);
  font-family: sans-serif;
}

header {
  background-color: rgb(35, 16, 16);
  color:rgb(218, 233, 211);
  height: 100px;
}

header nav {
  margin-left: 10px;
}

header h1 {
  padding: 5px;
  margin-left: 10px;
  color: rgb(35, 16, 16);
  background-color:rgb(218, 233, 211);
  width: fit-content;
  border-radius: 5px;
  box-shadow: 5px 5px white;
}

nav {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(218, 233, 211);
  padding: 10px;
}

ol {
  margin: 0 auto;
}


li {
  list-style: none;
  color: grey;
}

.title a {
  text-decoration: none;
  color: black;
}

.post-list {
  padding-left: 5px;
  padding-right: 5px;
}

.post-item {
  border: 5px solid rgb(35, 16, 16);
  color: grey;
  text-decoration: none;
  margin: 5px auto 5px auto;
}

.post-item a {
  text-decoration: none;
}

.post-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  color: grey;
  background-color: rgb(35, 16, 16);
  text-decoration: none;
}

/* .post-title {
  text-decoration: none;
  color: grey;
} */